.vsconfig
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.sln
Assembly-CSharp.csproj
My project.sln
Library
Logs
Temp
.vs/
obj/
.DS_Store
Mac_Build.app/
Windows_Build/
walleraa_P2_Gold_Spike.zip
walleraa_P2_Gold_Spike/